# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo

# Testing
coverage
.nyc_output

# Misc
*.log
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docs
README.md
